/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: auto; /* Full width */
    height: auto; /* Full height */
    /* overflow: auto; /*Enable scroll if needed */
    background-color: rgb(0,0,0) transparent; /* Fallback color */
    background-color: rgba(0, 0, 0, 0.25) transparent; /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe transparent;
    margin: auto;
    padding: 20px;
    border: 3px solid #888;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #4e4e4e;
    font-size: 34px;
    font-weight: bold;
    position: relative;
    top: 1%;
    left: 98%;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #newWorkBtn {
    font-weight: bold;
  }